.conduit {
  font-size: 28px;
}
.navUserItems {
  display: none;
}
.Users:hover .navUserItems {
  display: block;
}
.dropdown-item-active:active {
  background-color: #5d99c6e6;
}
.label-hover:hover {
  color: #c9d6df !important;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}
.nav-bar{
  background-color: blue;
}
