@import "../../style/variable";

.mb-1-5 {
  margin-bottom: 11px;
}
.tags-grow {
  margin-bottom: 70px;
}
h6::after {
  content: '';
  display: block;
  height: 2px;
  background-color: $color-primary;
  width: 60px;
  margin-top: 12px;
}
.tag-item {
  // border-left: 2px solid $color-primary;
  color: $color-primary;
}
