<div class="my-feed shadow-lg mt-3">
  <div class="my-feed--header d-flex">
    <div class="user-infor d-flex">
      <img
        class="user-infor--avt"
        src="https://hips.hearstapps.com/hmg-prod/images/screen-shot-2020-12-17-at-10-59-24-am-1608220785.png?crop=1xw:0.8545454545454545xh;center,top&resize=640:*"
      />
      <div class="ml-3">
        <p class="user-infor--name m-0">Charli</p>
        <p class="user-infor--date-post m-0">Nov 24, 2022</p>
      </div>
    </div>
    <div class="amount-of-reaction ml-auto">
      <i class="fa-solid fa-heart"></i> 3000
    </div>
  </div>
  <div class="my-feed--content">
    <h3 class="my-feed--title my-2">Create a new implementation</h3>
    <div class="my-feed--content-detail">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quibusdam
      nesciunt possimus incidunt suscipit et, quidem labore voluptate voluptatem
      facere?
    </div>
    <i class="read-more">Read more ...</i>
    <div>
      <span class="badge badge-pill badge-primary tag-box--item">Primary</span>
    </div>
  </div>
</div>
