.login__img {
    padding: 0;
  }
  .login__form {
    padding: 0 30px;
  }
  .sign__in-card {
    height: 550px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .demo__link {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  
  .btn__submit {
    color: white;
    background-color: #ffa500;
  }