<div class="container pb-5">
  <div class="row mb-4">
    <div class="col-8 mt-4 mx-auto bg-white shadow pb-3">
      <h1 class="text-center text-p-dark my-4">Your Settings</h1>
      <form [formGroup]="settingForm">
        <div class="form-group">
          <label for="username" class="text-p-dark font-weight-bold"
            >Your username</label
          >
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Your username"
            formControlName="username"
            disabled
          />
          <small
            class="text-danger"
            *ngIf="settingForm.controls.username.errors?.minlength"
          >
            * Your username is too short.
          </small>
          <small
            class="text-danger"
            *ngIf="
              settingForm.controls.username.errors?.required &&
              settingForm.controls.username.touched
            "
          >
            * Your username is required.
          </small>
        </div>
        <div class="form-group">
          <label for="image" class="text-p-dark font-weight-bold"
            >URL of your profile picture:</label
          >
          <input
            type="url"
            class="form-control"
            id="image"
            placeholder="URL of profile picture"
            formControlName="image"
          />
          <div class="image-demo mt-2 ml-3">
            <img [src]="settingForm.value.image" class="rounded" alt="" />
          </div>
        </div>
        <div class="form-group">
          <label for="bio" class="text-p-dark font-weight-bold"
            >Your bio:</label
          >
          <textarea
            rows="8"
            class="form-control"
            id="bio"
            placeholder="Short bio about you"
            formControlName="bio"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="email" class="text-p-dark font-weight-bold"
            >Your email address:</label
          >
          <input
            type="email"
            autocomplete="email"
            class="form-control"
            id="email"
            placeholder="Your email address"
            formControlName="email"
          />
          <small
            class="text-danger"
            *ngIf="settingForm.controls.email.errors?.invalid"
          >
            * Your email is invalid.
          </small>
          <small
            class="text-danger"
            *ngIf="
              settingForm.controls.email.errors?.required &&
              settingForm.controls.email.touched
            "
          >
            * Your email is required.
          </small>
        </div>
        <div class="text-right" *ngIf="!isSuccess">
          <button
            type="submit"
            class="btn btn-success btn-outline-p-dark active2 px-3 text-white m-1"
            [disabled]="settingForm.invalid"
            (click)="updateSettings()"
          >
            Update Settings
          </button>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="isSuccess">
          Your settings have been changed. Redirecting to your profile.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="isTaken">
          Your username or email address has been taken. Please try with another
          one.
        </div>
      </form>
      <hr>
      <div>
        <div class="btn btn-outline-danger" (click)="logout()"
        *ngIf="auth.isAuthenticated()">Or click here to log-out</div>
      </div>
    </div>
  </div>
</div>
