.bg-profile{
  background: url("https://media.wired.com/photos/598e35fb99d76447c4eb1f28/16:9/w_2123,h_1194,c_limit/phonepicutres-TA.jpg") no-repeat center;
  background-size: cover;
}
.btnEdit{
  background-color: #ff5334;
}
.btnEdit:hover{
  background-color: #fc6b51;
}
