<div class="container mt-4">
  <form>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Article Title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="What's this article about?">
      </div>
      <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your article (in markdown)"></textarea>
        </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter tags">
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-success">Publish Article</button>
      </div>
    </form>
</div>
